In [1]:
#Prepare sql environment
%load_ext sql

In [10]:
#MySQL Connection String
%sql mysql+pymysql://root:Omar2003negm*@127.0.0.1:3306/united_nations

'Connected: root@united_nations'

In [12]:
%%sql

Select 
    *
From 
    access_to_basic_services
Where
    Country_name = "Egypt";

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
   mysql+pymysql://root:***@localhost:3306/united_nations
6 rows affected.

[('Northern Africa and Western Asia', 'Northern Africa', 'Egypt', 2015, Decimal('99.33'), Decimal('96.33'), None, None, None, None),
 ('Northern Africa and Western Asia', 'Northern Africa', 'Egypt', 2016, Decimal('99.33'), Decimal('96.33'), None, None, None, None),
 ('Northern Africa and Western Asia', 'Northern Africa', 'Egypt', 2017, Decimal('99.33'), Decimal('96.33'), None, None, None, None),
 ('Northern Africa and Western Asia', 'Northern Africa', 'Egypt', 2018, Decimal('99.33'), Decimal('97.00'), None, None, None, None),
 ('Northern Africa and Western Asia', 'Northern Africa', 'Egypt', 2019, Decimal('99.33'), Decimal('97.00'), None, None, None, None),
 ('Northern Africa and Western Asia', 'Northern Africa', 'Egypt', 2020, Decimal('99.33'), Decimal('97.67'), None, None, None, None)]